body{
    background-color: #ffffff;
  }
  span{
    margin: 8px;
  }
  input{
    border: 0px;
    width: 28em;
  }
  .header {
    float : left;
  }
  .header-right {
    float: right;
  }
  #logo {
    padding: 110px 0 0 100px;
  }
  #search-bar{
    margin-top: 20px;
  }
  #actual-bar{
    width: 30em;
    height: 2.3em;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    display: flex;
  }
  #search-icon{
    padding-top: 6px;
    padding-left: 10px;
    margin-right: 20px;
    color: #9AA0A6;
    fill: currentColor;
    height: 24px;
    width: 24px;
  }
  .searchbuttons {
    padding-top: 30px;
  }
  #button{
    color: #5F6368;
    margin: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 20px;
  }
  .footer-right{
    position: fixed;
    bottom: 0;
    right: 20px;
  }